@font-face {
    font-family: 'bebas neue';
    src: url('../fonts/BebasNeue.otf');
}

h1,h2,h3,h4 {
	font-family: 'bebas neue';	 
	color: black;
}
/* weird but it works */
#main h1,h2,h3,h4, #main h1,h2,h3,h4 a, #main h1 a, #main h2 a, #main h3 a {
	color: black;
}

body {
	 font-family: 'Roboto Condensed';
	 color: #444;
	 background-color: #EAECF0;
	 padding-top: 4.5rem;
}

/*			SECTIONS 			*/

footer {
	background: #333;
	color:#fff;
}

footer a:hover {
    text-decoration: none;
}