@font-face {
    font-family: 'bebas neue';
    src: url('../fonts/BebasNeue.otf');
}

h1,h2,h3,h4 {
	 font-family: 'bebas neue';
}

body {
	 font-family: 'Roboto Condensed';
	 color: #444;
	 background-color: #EAECF0;
	 padding-top: 4.5rem;
}

/*			SECTIONS 			*/

footer {
	background: #333;
	color:#fff;
}

footer a:hover {
    text-decoration: none;
}