
h1,h2,h3,h4 {
	color: black;
}
/* weird but it works and seemed to be needed */
#main h1,h2,h3,h4, #main h1,h2,h3,h4 a, #main h1 a, #main h2 a, #main h3 a {
	color: black;
}

body {
	 font-family: 'Roboto Condensed';
	 color: #333;
	 /* background-color: #EAECF0; */
	 padding-top: 4.5rem;
}

/* GOOGLE CUSTOM SEARCH STYLING BLOCK */
.google-custom-search-div {
	float: right;
}

.gsc-control-cse, .gsc-control-cse-en {
	background-color: transparent;
	border: none;
}

.gsc-search-button, .gsc-search-button-v2 {
	border-color: #830000;
	background-color: #830000;
}
/* END OF GOOGLE CUSTOM SEARCH STYLING BLOCK */


#main code {
	color: #51808a;
}

/*			SECTIONS 			*/

footer {
	background: #333;
	color:#fff;
}

footer a {
	color:#fff;
}
footer a:hover {
    text-decoration: none;
}

.width-contain {
	width: 100%;
	height: auto;
}

.onethird-height {
	max-height: 33vh;
}

.twothirds-height {
	max-height: 66vh;
}

.right-border {
	border-right: 1px solid #b7b7b7;
}


.navbar, footer {
	background-color: #a5252d;
	font-family: "brandon grotesque", brandon, helvetica, sans-serif;
	font-size: 19px;
}

#main {
	font-family: "brandon grotesque", brandon, helvetica, sans-serif;
	font-size: 22px;
	padding-bottom: 100px; /*the footer overlaps the bottom of the content otherwise*/
}

#main > p:nth-child(1) {
	font-family: "bebas neue", bebas, helvetica, sans-serif;
	text-align: center;
	font-size: 36px;
	margin: 2.5vh auto;
}

a {
	color: #a5252d;
}

a:hover {
    color: black;
    text-decoration: underline dashed currentColor;
}

footer {
	padding: 1.5vh !important;
}