/* define GL colours */
.bg-gl-red {
  background-color: #770f00;
}
.bg-gl-dark-blue {
  background-color: #3e767f;
}
.bg-light-blue {
  background-color: #5ca5c0;
}
.bg-gl-dark-grey {
  background-color: #928b81;
}
.bg-gl-light-grey {
  background-color: #dddad3;
}
.text-shadow-light-blue {
  text-shadow: #5ca5c0 2px 2px;
}
.color-gl-red {
  color: #770f00;
}
.fill-gl-red {
  fill: #770f00;
}
/* @deprecated prefer text-dark/light-n over a hard-coded colour. */
.black {
  color: #000;
}
.white {
  color: #fff;
}
.text-dark-0 {
  color: #343a40;
}
.bg-dark-0 {
  background-color: #343a40;
}
.text-light-0 {
  color: #f8f9fa;
}
.bg-light-0 {
  background-color: #f8f9fa;
}
.text-dark-1 {
  color: #3e767f;
}
.bg-dark-1 {
  background-color: #3e767f;
}
.text-light-1 {
  color: #dddad3;
}
.bg-light-1 {
  background-color: #dddad3;
}
.text-dark-2 {
  color: #770f00;
}
.bg-dark-2 {
  background-color: #770f00;
}
.text-light-2 {
  color: #5ca5c0;
}
.bg-light-2 {
  background-color: #5ca5c0;
}
/* GL button: red button on white background */
.btn-gl {
  background-color: #fff;
  color: #770f00;
  border-color: #770f00;
  font-weight: bold;
}
.btn-gl:hover {
  text-decoration: underline;
}
.color-facebook {
  color: #3b5998;
}
.color-twitter {
  color: #4099ff;
}
.color-instagram {
  color: #e95950;
}
.color-linkedin {
  color: #0077B5;
}
.color-good-loop {
  color: #770f00;
}
.bg-facebook {
  background-color: #3b5998;
}
.bg-twitter {
  background-color: #4099ff;
}
.bg-instagram {
  background-color: #e95950;
}
.bg-linkedin {
  background-color: #0077B5;
}
.bg-good-loop {
  background-color: #770f00;
}
/* Headers */
/* the #main is seemed to be needed */
h1,
h2,
h3,
h4,
#main h1,
h2,
h3,
h4,
#main h1,
h2,
h3,
h4 a,
#main h1 a,
#main h2 a,
#main h3 a {
  color: black;
}
h1 {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #333;
  margin-left: 20px;
  margin-right: 20px;
}
h1 a,
.h1 a {
  border-bottom: 3px solid #fff;
  position: relative;
  bottom: -10px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
}
/* side lines for h1
.sideline {
 	background: #333;
 	content: " ";
 	display: inline-block;
 	height: 1px;
 	width: 20%;
 	zoom: 1;
 	margin-left: 20px;
 	margin-right: 20px;
}

h1:not(.subtitle)::before {
	 .sideline(); -- in less 
	background: #333;
	content: " ";
	display: inline-block;
	height: 1px;
	width: 20%;
	zoom: 1;
	margin-left: 20px;
	margin-right: 20px;
}
h1:not(.subtitle)::after {
	background: #333;
	content: " ";
	display: inline-block;
	height: 1px;
	width: 20%;
	zoom: 1;
	margin-left: 20px;
	margin-right: 20px;
} */
h1.subtitle {
  font-family: Helvetica, sans-serif !important;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: -5px;
  font-weight: 300 !important;
}
.welcome-to-the-doc-wiki h1 {
  margin: 10px 0;
}
/*	end Headers */
body {
  font-family: 'Roboto Condensed';
  color: #333;
  /* background-color: #EAECF0; */
  padding-top: 4.5rem;
}
#main code {
  color: #51808a;
}
#main blockquote {
  margin: 1em;
  border-left: 2px solid rgba(100, 100, 100, 0.5);
  padding-left: 1em;
}
/*			SECTIONS 			*/
.width-contain {
  width: 100%;
  height: auto;
}
.onethird-height {
  max-height: 33vh;
}
.twothirds-height {
  max-height: 66vh;
}
.right-border {
  border-right: 1px solid #b7b7b7;
}
#main {
  font-family: "brandon grotesque", brandon, helvetica, sans-serif;
  font-size: 22px;
  padding-bottom: 100px;
  /*the footer overlaps the bottom of the content otherwise*/
  /* for short-text pages (e.g. https://doc.good-loop.com/instagram-install.html), put the footer at the bottom */
  min-height: calc(100vh - 190px);
}
#main > p:nth-child(1) {
  font-family: "bebas neue", bebas, helvetica, sans-serif;
  text-align: center;
  font-size: 36px;
  margin: 2.5vh auto;
}
a {
  color: #a5252d;
}
a:hover {
  color: black;
  text-decoration: underline dashed currentColor;
}
/* Use for "mobile only" */
/* widescreen desktops */
/* GOOGLE CUSTOM SEARCH STYLING BLOCK */
.google-custom-search-div {
  width: 20vw;
  height: 6vh;
  position: fixed;
  right: 0;
  top: 0;
}
.gsc-control-cse,
.gsc-control-cse-en {
  background-color: transparent !important;
  border: none !important;
  padding: none !important;
}
.gsc-search-button,
.gsc-search-button-v2 {
  border-color: #830000 !important;
  background-color: #830000 !important;
}
@media (max-width: 767px) {
  .google-custom-search-div {
    width: 60vw;
  }
}
/* END OF GOOGLE CUSTOM SEARCH STYLING BLOCK */
.navbar {
  background-color: white;
  color: black;
  font-family: "brandon grotesque", brandon, helvetica, sans-serif;
  font-size: 19px;
  box-shadow: 0 0 4px #000;
  transition: 0.3s;
}
.navbar .navbar-brand {
  color: #830000;
}
.navbar .navbar-brand:hover {
  color: black;
}
.navbar img {
  max-height: 2em;
}
footer {
  font-family: "Tajawal", sans-serif;
  background-color: #343a40;
  color: #f8f9fa;
}
footer a {
  color: white;
}
footer a:hover {
  color: white !important;
}
footer h5 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
}
footer .btn {
  font-family: 'Montserrat';
}
footer hr {
  color: white;
  background-color: white;
  margin: 50px 0px;
}
footer .flex-column > * {
  margin: 0;
}
@media (min-width: 767px) {
  footer .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
