# copy this to nginx sites-available, also modify etc/hosts
server {
	listen   80; ## listen for ipv4; this line is default and implied

	root /home/daniel/winterwell/doc/webroot;
	index index.html;

	server_name localdoc.good-loop.com;

	location / {
			try_files $uri $uri/;
	}

}
